*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Bree Serif";
    text-align: center;
    color: #fff;
    background-color: #1d1e22;
}
#container1{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
}
#box1{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: red;
    position: relative;
    animation-name: Arghya1;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya1 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container2{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    padding: 0px 0px 0px 101px;
}
#box2{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(235, 238, 8);
    position: relative;
    animation-name: Arghya2;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya2 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container3{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    padding: 0px 0px 0px 197px;
}
#box3{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(23, 238, 8);
    position: relative;
    animation-name: Arghya3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya3 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container4{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    padding: 0px 0px 0px 305px;
}
#box4{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(8, 219, 238);
    position: relative;
    animation-name: Arghya4;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya4 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container5{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    padding: 0px 0px 0px 406px;
}
#box5{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(222, 21, 222);
    position: relative;
    animation-name: Arghya5;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya5 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
/* Audio Section */
.keys{
    margin: 0px auto;
    max-width: 600px;
    cursor: pointer;
    overflow: hidden;
}
.key{
    width: 160px;
    height: 160px;
    margin: 20px;
    float: left;
    transition: all 0.07s;
    border-radius: 137px;
    background: rgb(240, 249, 255);
    background: radial-gradient(
        ellipse at center,
        rgba(134, 204, 247) 0%,
        rgba(99, 99, 99, 1) 100%
    );
}
.playing{
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,0.3); 
     background-color: rgba(240, 249,255);
}
kbd{
    display: block;
    padding-top: 30px;
    font-size: 60px;
    color: transparent;
    text-shadow: 1px 1px 2px #fff;
}
/* Right Section */
#container10{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#box10{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: red;
    position: relative;
    animation-name: Arghya10;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya10 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container20{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px 102px 0px 0px;
}
#box20{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(239, 243, 9);
    position: relative;
    animation-name: Arghya20;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya20 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container30{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px 202px 0px 0px;
}
#box30{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(18, 233, 11);
    position: relative;
    animation-name: Arghya30;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya30 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container40{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px 306px 0px 0px;
}
#box40{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(10, 206, 246);
    position: relative;
    animation-name: Arghya40;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya40 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#container50{
    display: flex;
    list-style: none;
    color: rgb(127, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 0px 408px 0px 0px;
}
#box50{
    border: 2px solid black;
    margin: 2px;
    height: 48px;
    padding: 24px 32px;
    background-color: rgb(245, 11, 229);
    position: relative;
    animation-name: Arghya40;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-out;

}
@keyframes Arghya50 {
    from{
        height: 32px;
    }
    to{
        height: 200px;
    }
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
#logo{
    margin: 6px 7px;
}
#logo img{
    height: 44px;
    margin: 3px 12px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}